-----BEGIN CERTIFICATE-----
MIIDyTCCArGgAwIBAgIQfzw3TIlnMpJM+DM8yw5LHzANBgkqhkiG9w0BAQsFADBX
MRUwEwYKCZImiZPyLGQBGRYFbG9jYWwxGzAZBgoJkiaJk/IsZAEZFgttaW5kd29y
a2luZzEhMB8GA1UEAxMYbWluZHdvcmtpbmctTVctQ0EyMDE2LUNBMCAXDTIyMDMw
ODEzMjgwMVoYDzIwNTcwMzA3MTMzODAxWjBXMRUwEwYKCZImiZPyLGQBGRYFbG9j
YWwxGzAZBgoJkiaJk/IsZAEZFgttaW5kd29ya2luZzEhMB8GA1UEAxMYbWluZHdv
cmtpbmctTVctQ0EyMDE2LUNBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
AQEAtfhWRXEn/2CPDYI3BePkG9+B95Mj7Dp4dDxauYvLr0UEeyAJ2jtrF3cbRxEZ
aJ0WqUQpR1LpnJhyU/QqWe2kMAM+cC3RsdTkNtd7FLDJmImK8U1rSZ2DpXL7d/8h
zCINRXjsFXzBXwHIymINot2wrhspC0IinxAdmklDMj7+r4JRMcUqutiL8le3DQeD
qVHAKQz3fAks6ev8ScGLn3HOZuyHrQid6wJ9EAzPMmFwuwwFbqJ8IcWuChWZfYnQ
t+TSkhg6ydY27Qb72pz3m0XnP2HgXmnJK13lX8oinhDXZvf2sLYZpwLJErYR1/rA
uct8tj0cLrAKW2bKawU3m8YnjwIDAQABo4GOMIGLMBMGCSsGAQQBgjcUAgQGHgQA
QwBBMAsGA1UdDwQEAwIBhjAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBS6zRX4
hTzcLcQPeL4EaYIBDy0SWjASBgkrBgEEAYI3FQEEBQIDAgACMCMGCSsGAQQBgjcV
AgQWBBR+/RRjot+tmQelz0cJFpvphY+RWjANBgkqhkiG9w0BAQsFAAOCAQEAMIDO
s3exXwQVdezKTh9p9R7dBcCies3no4k3IZtCIZzm3KJM/GZDcWxMoCi8rElMXH1d
8o8C5BD6KZJKrRycCLLcDivp9tGokEf2/XEg7PSoWQaVzNQdLD55wgXxTlhTButz
JiGj58IC6UOdhh+Iqi3GTbFMrQ01ocGVeJdKdZ98hIzT64igT+VKOxyLlBVGO7HO
0Q7TcFnxQrS50ffmXm36BNL6bCreEDR4ovr1zzH2WKZqAiQQ5D7FfZlYbHusyeur
8OGFbLKI0AF22t9lZX+cq+Ye0Op4ncR58sgUHlhLf5nTUHEeK4i03JN+Xln6zCYE
k7aOB5KzJmHMrAuJpQ==
-----END CERTIFICATE-----